.new-game-container {
  max-width: 600px;
  margin: auto;
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.new-game-container h2,
.new-game-container h3 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

input,
textarea,
select {
  width: 97%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  min-height: 60px;
  resize: vertical;
}

.inline-input {
  display: flex;
  gap: 8px;
}

.inline-input input {
  flex: 1;
}

button {
  padding: 8px 12px;
  background: #007bff;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

.tag-container {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

/* .tag {
  background: #f0f0f0;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.85em;
} */

.form-actions {
  text-align: center;
}

.form-actions button {
  background: #28a745;
}

.form-actions button:hover {
  background: #1f7a33;
}

.form-group select {
    margin:5px;
}

.form-error {
  color: red;
  margin-top: 0.75rem;
  font-size: 0.875rem;
}

.login-error {
  width:150px;
}

.adduser-select {
  width:auto;
}

.game-users-container {
  margin: 1rem 0;
  overflow-x: auto;
}

.game-users-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.game-users-table th,
.game-users-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.game-users-table thead {
  background-color: #f5f5f5;
  font-weight: bold;
}

.game-users-table tr:hover {
  background-color: #fafafa;
}

.action-col {
  text-align: center;
  width: 80px;
}

.delete-cell {
  text-align: center;
}

.primary--button--modifier {
  color:white;
  background-color: #ee3131;
  padding:6px 20px;
}

.primary--button--modifier:hover {
  color:white;
  background-color: #ee3131;
}
