.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8947c;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-logo {
  height: 40px;
  width: 40px;
  object-fit: contain;
}

.company-name {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 500;
}

.nav-button {
  background-color: white;
  color: #0052cc;
  padding: 6px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #e6e6e6;
}
